//

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-card {
   display: flex;
}
   .dg-btn {
       background-color: transparent;
       border: 2px solid rgb(24, 105, 192);
       font-size: 0.7rem;
       padding: 5px 10px;
       font-weight: 700;

       a {
           text-decoration: none;
       }
   }

   img {
       width: 250px;
   }

   .dg-description {
       width: 50%;
   }
