//

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', cursive;
    background-image: url('https://images2.alphacoders.com/446/446666.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
}

.bg-comics {
    background-image: url('https://www.nicepng.com/png/detail/83-832568_dc-comics-dc-comics-logo-dark.png');
    background-size: cover;
    background-position: center;
}

.container-card {
   display: flex;
}
   .dg-btn {
       background-color: transparent;
       border: 2px solid rgb(24, 105, 192);
       font-size: 0.9rem;
       padding: 5px 10px;
       font-weight: 700;
       margin-right: 5px;

       a {
           text-decoration: none;
       }
   }

   img {
       width: 250px;
       border: 3px solid #000;
   }

   .dg-description {
       width: 40%;
       background-color: rgba(255, 255, 255, 0.5);
       border-radius: 10px;
       padding: 10px;
   }

   .bg-card {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 10px;
   }

   .delete-text {
       color: red;
       border: 2px solid red;
       padding: 5px 12px;
       text-transform: uppercase;
   }
